@font-face {
    font-family: flood;
    src: url(../fonts/Flood.ttf)
}

body {
    margin: 0% 0%;
    color: #354463;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 2em;
}

.initial-content {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.heading {
    font-size: 1.5em;
    font-weight: bold;
}

.heading-menu {
    font-size: 1.2em;
    font-weight: lighter;
    align-self: flex-start;
    justify-self: flex-end;
}

.donate-today {
    font-size: 1em;
    align-self: center;
    padding: 2% 6em;
    background-color: #C1F7D5;
    border-radius: 2em;
    font-weight: bold;
}

.climate-change {
    display: grid;
    background-image: url(../assets/home/annie-spratt-135307.png);
    position: relative;
}

.tag-line {
    font-family: flood;
    line-height: 1em;
    font-size: 3em;
    padding: 0em 1em;
}

.issue {
    display: grid;
    position: relative;
}

.issue-events {
    position: absolute;
    left: 35%;
    top: 0%;
    background-color: #354463;
    color: #FFFFFF;
    font-size: 0.45em;
    text-align: center;
    /* height: 40%; */
    padding: 0.3em 1.3em;
    margin: -0.7em 0em;

}

.issue-content {
    position: relative;
    font-size: 2em;
    color: #354463;
    padding: 1em 1.3em;
    margin: 1.7em 1em;
    background-color: #FFFFFF;
    text-align: center;
}

.issue-link {
    font-size: 0.43em;
    text-align: start;
    /* text-align: center; */
}

.action-events {
    position: absolute;
    bottom: 0%;
    left: 34%;
    font-size: 1em;
    background-color: #354463;
    color: #FFFFFF;
    text-align: center;
    /* height: 40%; */
    padding: 0.3em 1.3em;
    margin-bottom: -0.9em;
    /* margin:-0.7em 4em; */
}

.about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: minmax(3em, auto);
    grid-auto-rows: minmax(3em, auto);
    grid-template-rows: 1fr 1fr;
    padding: 3em 2em;
    grid-gap: 1.8em;
    background-color: #C1F7D5;
}


.help-section {
    font-size: 0.9em;
}

.help-section-content {
    font-size: 0.8em;
    margin: 0em 0em;
}

.what-our-organization-is-doing {
    background-color: #354463;
    color: #FFFFFF;
    padding: 2em 2em;
}

.what-we-do {

    background-color: #FFFFFF;
    color: #354463;
    margin: 0em 6em;
    text-align: center;
    padding: 0.2em 0em;
    /* padding-top:2em; */
    /* margin-top:-1em; */
}

.what-we-do-tag-line {
    font-size: 1.5em;
    margin-top: 0.7em;
    text-align: center;
}

.our-organization-work {
    margin-top: 30%;
    display: grid;
    grid-template-rows: repeat(2.5, 1fr);
    background-color: #FFFFFF;
    color: #354463;
    position: relative;
}

.our-organization-work-image {
    width: 75%;
    position: relative;
    top: -15%;
    justify-self: center;
}

.our-organization-work-tree {
    width: 75%;
    position: relative;
    top: -15%;
    justify-self: center;
}

.our-organization-work-content {
    margin-top: -6%;
    display: grid;
    /* margin-top:5%; */
    text-align: center;
    /* height:100%; */
}

.our-organization-work-heading {
    font-size: 1.2em;

}

.read-more-button {
    font-size: 1.3em;
    justify-self: center;
    background-color: #C1F7D5;
    padding: 0.5em 2em;
    margin-bottom: 1.5em;
    border-radius: 2em;

}

.our-organization-working-on {
    /* margin-top: -5%; */
    padding: 0em 1.5em;
    font-size: 1.1em;
}

.problems-we-are-facing {
    /* background-image: url(../assets/home/did-you-know-background@2x.png); */
    background-image: url(../assets/home/did-you-know.png);
    background-size: cover;
    background-position: 40% 50%;
    color: #FFFFFF;
}

.problems {
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.climate-tag-line {
    font-family: flood;
    font-size: 2.5em;
    line-height: 1em;
    width: 35%;
    /* color:#FFFFFF; */
    padding: 1em 1.2em;
}

.action-button {
    /* position: absolute; */
    font-size: 1.3em;
    text-align: center;
    margin: 0em 3em;
    background-color: #C1F7D5;
    padding: 0.2em 0.5em;
    border-radius: 2em;
    align-self: flex-start;
    margin-left: 10%;
    /* bottom:0%; */
}


.current-problem {
    /* background-image: url(../assets/home/did-you-know-background.png); */
    display: grid;
    color: #354463;
    background-color: #FFFFFF;
    /* text-align: center; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4fr 1fr;
    /* grid-auto-flow: column; */
    font-size: 1.5em;
    padding: 0em 0.5em;
    margin: 0em 2em;
    justify-content: end;
    align-items: end;
    padding-top: 0.5em;
    position: relative;
}

.climate-caused-problems {
    display: grid;
    grid-row-gap: 1em;
    margin-top: 6em;
    padding-bottom: 3em;
    /* position: relative; */
    /* padding-top:5em; */
}

.logo-twitter {
    width: 21%;
    display: grid;
    justify-self: end;
    padding: 0.5em 0.5em;
    border-radius: 5em;
    background-color: #C1F7D5;
}

.logo-facebook {
    width: 11%;
    display: grid;
    justify-self: end;
    align-self: center;
    padding: 0.5em 0.7em;
    border-radius: 5em;
    background-color: #C1F7D5;

}

.did-you-know-stories-content {
    font-size: 0.5em;
}

.did-you-know {
    background-color: #354463;
    margin-top: -1.8em;
    font-size: 0.5em;
    padding: 0.5em 1em;
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    align-self: start;
    justify-self: center;
}

.stories-of-people {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* justify-items: center; */
}

.storie-event-content {
    display: flex;
    flex-direction: column;
    position: relative;
    /* justify-content: center; */

}

.events-stories {
    position: absolute;
    font-size: 0.7em;
    background-color: #354463;
    color: #FFFFFF;
    padding: 0.5em 2em;
    top: -1em;
    align-self: center;
}

.happiness {
    width: 75%;
    align-self: center;
}

.stories {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}

.stories-content {
    /* position: absolute; */
    background-color: #354463;
    color: #FFFFFF;
    font-size: 1.4em;
    padding: 1em 0.8em;
    margin: 1em 2em;
}

.stories-content>p {
    font-size: 0.5em;
}

.read-more-button-stories {
    /* position: absolute; */
    background-color: #C1F7D5;
    align-self: center;
    padding: 0.5em 2em;
    border-radius: 2em;
    margin-bottom: 2em;
}

.future {
    background-color: #354463;
    color: #FFFFFF;
    padding-bottom: 1em;

}

.tag-line-future {
    font-family: flood;
    line-height: 1em;
    font-size: 2.7em;
    padding: 1em 1.2em;
    color: #FFFFFF;
    text-align: center;
}

.future-stories {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.events-future {
    position: absolute;
    background-color: #FFFFFF;
    color: #354463;
    text-align: center;
    padding: 0.2em 2em;
    left: 40%;
    /* left:10%;   */
    top: 6%;
}

.event-tree-planting {
    align-self: center;
    justify-self: center;
   width: 60%;
   margin: 3em 3.5em;
    
}
.future-stories-information{
    /* margin:0em 3em; */
}
.event-tree-planting-image{
    align-self: center;
    position: relative;
    left:10%;
    width: 60%;
    margin: 3em 3.5em;
}

.event-tag-line {
    /* align-self: center; */
    margin: 0em 2em;
    font-size: 1.3em;
    text-align: center;
}

.event-content {
    margin: 0em 2em;
    font-size: 1.3em;
    text-align: center;
}

.read-more-button-future {
    position: absolute;
    background-color: #C1F7D5;
    font-size: 1.1em;
    text-align: center;
    left: 40%;
    border-radius: 2em;
    color: #354463;
    padding: 0.5em 1em;
    margin-bottom: 3em;
}

.subscribe {
    background-color: #C1F7D5;
    padding: 1em 1em;

}

.button {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;

}

.email {
    color: #354463;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 1em;
    /* width:100%; */
}

.subscribe-button {
    color: #FFFFFF;
    background-color: #354463;
    text-align: center;
    border-radius: 1em;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 4em 2em;
    grid-column-gap:2em;
}

.footer-heading {
    font-size: 1.5em;
    /* align-self:center; */
    /* justify-self: c; */
    /* padding:0.1em 1em; */
    font-weight: bold;
}

.contact-us {
    /* align-self:center; */
    justify-self: center;
    /* padding:3em 1em; */
}

.follow-us {
    font-size: 0.9em;
    align-self: center;
    /* justify-self: center; */
    /* justify-self: flex-start; */
    /* padding:0em 1em; */
}

.icon-address {
    font-size: 0.9em;
}

.footer-tag-line {

    /* width:50%; */
    font-family: flood;
    font-size: 2.5em;
    line-height: 1em;
    grid-column: 1 / 3;
    text-align: end;
    padding-right:1em;
}

@media(min-width:760px) and (max-width:900px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding: 2em 2em; */
    }

    /* .initial-content {
        display: flex;
        font-size: 1em;
    } */

    .initial-content {
        display: flex;
        flex-direction: column;
        /* font-size: 1em; */
        justify-content: space-between;
        width: 70%;
    }

    .heading {
        /* margin-top: 1em; */
        font-size: 1.5em;
        align-self: flex-start;
    }

    .heading-menu {
        margin-top: -5%;
        width: 85%;
        display: flex;
        font-size: 1.3em;
        justify-content: space-between;
        align-self: flex-start;
        /* margin-right:5em; */
    }

    .donate-today {
        margin-top: 2em;
        font-size: 1.2em;
        padding: 0.5em 1em;
        align-self: flex-start;
        /* height:20%; */
    }

    .climate-change {
        display: grid;
        /* grid-template-rows: 1fr; */
        /* grid-auto-rows: minmax(3em, auto); */
        background-image: url(../assets/home/annie-spratt-135307.png);
        position: relative;
    }

    .tag-line {
        font-family: flood;
        line-height: 1em;
        font-size: 4em;
        padding: 0em 1em;
    }

    .issue {
        display: grid;
        position: relative;
    }

    .issue-events {
        position: absolute;
        left: 15%;
        top: 0%;
        background-color: #354463;
        color: #FFFFFF;
        font-size: 0.45em;
        text-align: center;
        padding: 0.3em 1.3em;
        margin: -0.7em 0em;

    }

    .issue-content {
        position: relative;
        font-size: 2.7em;
        color: #354463;
        padding: 1em 1.3em;
        margin: 1.7em 1em;
        background-color: #FFFFFF;
        text-align: start;
    }

    .issue-link {
        font-size: 0.5em;
    }

    .action-events {
        position: absolute;
        bottom: 0%;
        left: 42%;
        font-size: 1.2em;
        background-color: #354463;
        color: #FFFFFF;
        text-align: center;
        /* height: 40%; */
        padding: 0.3em 1.3em;
        margin-bottom: -0.9em;
        /* margin:-0.7em 4em; */
    }

    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: minmax(3em, auto);
        grid-auto-rows: minmax(3em, auto);
        grid-template-rows: 1fr 1fr;
        padding: 4em 0em;
        grid-gap: 1.8em;
        background-color: #C1F7D5;
    }

    .learn-about-us {
        padding: 0em 5em;
    }

    .help-section {
        font-size: 1.2em;
    }

    .help-section-content {
        font-size: 1em;
        margin: -0.7em 0em;
    }

    .what-our-organization-is-doing {
        background-color: #354463;
        color: #FFFFFF;
        padding: 4em 5em;
    }

    .what-we-do {
        background-color: #FFFFFF;
        color: #354463;
        width: 25%;
        font-size: 1.2em;
        text-align: center;
        padding: 0.2em 0em;
        margin-left: 1em;
    }

    .what-we-do-tag-line {
        font-size: 2em;
        margin-top: 0.7em;
        text-align: start;
    }

    .organization {
        margin-top: -15%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0em 0.9em;
    }

    .our-organization-work {
        grid-template-columns: 50% 50%;
        grid-gap: 2em;
        margin-bottom: -3em;
        padding-bottom:4em;
    }

    .our-organization-work-image {
        width:100%;
        /* position: relative; */
        left: 7%;
        justify-self: flex-end;
        /* right: -10%; */
    }

    /* .our-organization-work-tree {
        
    } */

    .our-organization-work-content {
        display: grid;
        margin-top: 20%;
        text-align: start;
    }

    .our-organization-work-heading {
        font-size: 1.3em;
        padding: 0em 1.2em;
    }

    .read-more-button {
        position: absolute;
        font-size: 1.5em;
        align-self: flex-end;
        left: 12%;
    }

    .our-organization-working-on {
        margin-top: -5%;
        font-size: 1.2em;
    }

    .problems-we-are-facing {
        background-image: url(../assets/home/did-you-know.png);
        background-size: cover;
        background-position: 40% 50%;
        color: #FFFFFF;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .problems {
        display: flex;
        flex-direction: column;
    }

    .climate-tag-line {
        font-size: 3em;
        padding-top: 1.8em;

        align-self: center;
    }

    .action-button {
        align-self: center;
    }

    .current-problem {

        width: 70%;
        align-self: center;
        justify-self: center;
        padding: 0em 1em;
    }

    .did-you-know {
        left: 7%;
    }

    .stories-of-people {
    display:flex;
    flex-direction: column;
    position:relative;
    margin-bottom: 25%;
    }

    .storie-event-content {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .events-stories {
        position: absolute;
        font-size: 0.7em;
        background-color: #354463;
        color: #FFFFFF;
        padding: 0.5em 2em;
        top: -1em;
        align-self: flex-start;
        left: 15%;
    }

    .event-tree-planting{
        
    }
    
    .happiness {
        width: 70%;
        align-self: flex-start;
        padding-left: 3em;
    }
    
    .stories {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 7%;
        bottom: -40%;
    }
    
    .stories-content {
        background-color: #354463;
        color: #FFFFFF;
        font-size: 2em;
        padding: 1em 2em;
        margin: 1em 2em;
    }
    
    .stories-content>p {
        font-size: 0.6em;
    }
    
    .read-more-button-stories {
        background-color: #C1F7D5;
        align-self: center;
        padding: 0.5em 2em;
        border-radius: 2em;
        margin-bottom: 2em;
    }
    
    .future {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .future-stories {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .future-stories-information{
        /* margin-right:4em; */
        margin-left:5em;
    }
    .future-events-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        align-items: center;
    }
    .event-information {
        font-size: 1em;
        margin: 3em 0em;
        position: relative;
    }

    
    .events-future {
        position: absolute;
        left: 0%;
    }
    
    .event-tag-line {
        font-size: 1.5em;
        margin: 0em 0em;
        text-align: start;
        /* padding-right: 4em; */
    }
    
    .event-tree-planting {
        margin: 0em 0em;
        width: 60%;
        /* align-self: flex-start; */
        justify-self: center;
    }
    .event-tree-planting-image{
        margin: 0em 0em;
        width: 60%;
        /* align-self: flex-start; */
        justify-self: center;

    }
    
    .event-content {
        font-size: 1.1em;
        text-align: start;
        margin: 0em;
        /* padding-right: 4em; */
    }
    
    .future-stories-information {
        grid-column: 1;
        grid-row: 1;
        /* padding-left: 6em; */
        /* padding */
        /* margin: 0em 4em; */
    }
    
    .future-stories-image {
        margin: 0em 0em;
        align-self: flex-start;
        justify-self: center;
        grid-column: 2;
        /* margin-left: 2em; */
        margin:0em 0em;
    }
    
    .subscribe {
        padding: 2em 3em;
    }
    
    .button {
        display: grid;
        grid-template-columns: 4fr 1fr;
    
    }
    
    .email {
        text-align: start;
        padding-left: 0.5em;
    }
    
    .subscribe-text {
        font-size: 1.2em;
        padding-right: 8em;
    }
    
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 4em 2em;
        grid-gap: 2em 2em;
    }
    
    .footer-heading {
        font-size: 1.5em;
        grid-row: 1 / 3;
        font-weight: bold;
    }
    
    .contact-us {
        justify-self: center;
    }
    
    .follow-us {
        font-size: 0.9em;
        align-self: center;
    }
    
    .icon-address {
        font-size: 0.9em;
    }
    
    .footer-tag-line {
        font-family: flood;
        font-size: 2.5em;
        line-height: 1em;
        grid-row: 2;
        grid-column: 3;
        text-align: start;
       
    }
}



@media(min-width:900px) {
    header {
        flex-direction: row;
    }

    .initial-content {
        width: 75%;
    }

    .heading-menu {
        display: flex;
        font-size: 1em;
        width: 60%;
        justify-content: space-between;
        align-self: center;
    }

    .donate-today {
        padding: 0.8em 1em;
    }

    .join-us {
        display: flex;
        margin: 5.5em 6em;
    }

    .tag-line {
        font-size: 3.5em;
        color: #FFFFFF;
    }

    .issue {
        display: flex;
        order: -1;
    }

    .issue-events {
        left: 18%;
    }

    .issue-content {
        font-size: 2.1em;
    }

    .issue-link {
        font-size: 0.35em;
    }

    .action-events {
        left: 45%;
    }

    .about-us {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0em 5em;
        padding-top: 5em;
        grid-column-gap: 3em;
    }

    .help-section {
        font-size: 1.1em;
    }

    .help-section-content {
        font-size: 0.9em;
        margin: -0.8em 0em;
    }

    .what-our-organization-is-doing {
        padding: 4em 5em;
    }

    .what-we-do {
        width: 14%;
        margin-left: 1em;
    }

    .what-we-do-tag-line {
        font-size: 2.1em;
    }

    .organization {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 3em;
    }

    .our-organization-work-image {
            /* height: 100%; */
    }
    .our-organization-work-content {
        margin-top: 2%;
        text-align: center;
    }

    .our-organization-work-heading {
        font-size: 1.1em;
    }

    .read-more-button {
        font-size: 1em;
    }

    .our-organization-working-on {
        padding: 0em 2em;
        font-size: 1em;
    }

    .problems-we-are-facing {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .climate-tag-line {
        font-size: 3em;
        align-self: center;
        padding-top: 1.8em;
    }

    .action-button {
        align-self: center;
    }

    .current-problem {
        width: 60%;
        padding: 1em 1em;
    }

    .stories-of-people {
        margin-top: 5%;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 6%;
    }

    .storie-event-content {
        width: 60%;
    }

    .events-stories {
        left: 18%;
    }

    .happiness {
        width: 60%;
        align-self: flex-start;
        padding-left: 3em;
    }

    .stories {
        width: 50%;
        position: absolute;
        top: 10%;
        left: 7%;
    }

    .stories-content>p {
        font-size: 0.6em;
    }

    .read-more-button-stories {
        align-self: flex-start;
        margin-left: 10%;
    }


    .future-stories {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .future-events-content {
        position: relative;
    }

    .event-information {
        margin: 3em 0em;
    }

    .events-future {
        padding: 0.3em 2em;
        left: 0%;
    }

    .tag-line-future {
        font-size: 4em;
        text-align: start;
    }
    .event-tag-line {
        font-size: 2.3em;
        margin: 0em 0em;
        text-align: start;
        padding-right: 4em;
    }

    .read-more-button-future {
        left: 0%;
    }

    .event-content {
        text-align: start;
        margin: 0em;
        padding-right: 4em;
    }

    .future-stories-information {
        display: flex;
        order: 1;
        align-self: stretch;
        margin-right: -6em;
        padding-left: 4em;
    }

    .future-stories-image {
        display: flex;
        order: 2;
    }

    .subscribe {
        display: flex;
        padding: 2em 4em;
    }

    .button {
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-self: center;
    }

    .email {

        text-align: start;
        padding-left: 0.5em;
    }

    .subscribe-button {
        padding: 0em 1em;
    }

    .subscribe-text {
        font-size: 1.3em;
        padding-right: 2em;
    }

    .footer {
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 2em;
        grid-template-rows: none;
    }

    .footer-heading {
        font-size: 1.3em;
    }

    .icon {
        text-decoration-line: underline;
    }

    .follow-us {
        font-size: 0.9em;
        align-self: flex-start;
    }

    .address {
        padding: 1em 0em;
    }

    .icon-address {
        padding: 1em 0em;
        font-size: 1.1em;
        line-height: 0%;
        text-decoration: none;
    }

    .footer-tag-line {
        font-size: 2em;
        grid-row: 1;
        grid-column: 5;
        text-align: end;
    }

}